body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  margin-top: 0px;
  font-family: 'Lato', sans-serif;
}

.nav_container {
  width: 100%;  
  height: 50px;
  background-color: #ffffff;
  z-index: 99;
}

.logo {
  float: left;
  width: 33.3%;
}

.findID {
  float: right;
  width: 33.3%;
  height: 30px;
  padding: 10px 0;
}

.nav {
  float: left;
  font-size: 1em;
  height: 30px;
  width: 33.3%;
  padding: 10px 0;
}

.nav_container img {
  height: 40px;
  width: 82px;
  margin: 5px;
}

.chart_container {
	position: relative;
	width: 100%;
	height-min: 500px;
	padding-bottom: 56.25%;
}

.chart_container > div {
	position: absolute;
	height: 100%;
	width: 100%;
}

input:focus, select:focus, textarea:focus, button:focus {
    outline: none;
}

.search_bar {
  width: 300px;
  height: 30px;
  margin: 0 auto;
  padding: 4px 8px;
  border: 1px solid #ccc;
  border-radius: 16px;
}

.info {
  background-color: #fff;
  width: 84%;
  padding-top: 20px;
  padding-left: 8%;
  padding-right: 8%;
  padding-bottom: 20px;
}

.top-wrapper{
  width: 900px;
  height: 200px;
  margin: 0 auto;
}

.left-col {
  width: 160px;
  padding: 0 20px;
  float: left;
}

.right-col {
  width: 660px;
  padding: 0 20px;
  float: right;
}

.user-image {
  width:160px;
  height:160px;
}

.user-image img.wide {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: 100%;
    border-radius: 80px;
}

.user-image img.tall {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: 100%;
    border-radius: 80px;
}​

.name h1 {
  margin: 0;
  color: #2b2b2b;
}

.user-info-line {
  color: #6A6A6A;
}

.user-info-line-bold {
  color: #333333;
  font-size: 1.2em;
}

.forcegraph {
  width: 100%;
  clear: both;
  display: none;
}

.visualizations {
  width: 100%;
  clear: both;
  padding-top: 16px;
}

.infotitle {
  width: 100%;
  color: #2b2b2b;
  text-align:center;
}

.infochart {
  width: 900px;
  height: 350px;
  margin: 0 auto;
}
